<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header ::common-header(title='SST - Forgot Password Success')" />

<body class="my-login-page">
	<div th:replace="common/header :: navbar">
	</div>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<br />
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<div class="alert alert-success" role="alert">
									  Request to reset your password has been sent to your email. Please check your email.					  
									</div>
								</div>
							</div>
						</div>
					</div>
					<footer>
						<div th:replace="common/footer :: footer" />
					</footer>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>

</html>